{% extends '@TvShowManager/layout.html.twig' %}

{% block content %}

    <h1>Supprimer un TvShow :</h1>

    <p>La série {{ show.name }} a bien été supprimée.</p>

    <p><a href="{{ path('tv_shows_list') }}">Retour à la liste</a></p>
{% endblock %}