{% extends '@TvShowManager/layout.html.twig' %}

{% block content %}

    <h2>Classement des séries par note :</h2>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nom</th>
            <th>Note moyenne</th>
        </tr>
        </thead>
        <tbody>
        {% for show in showsByNote %}
            <tr>
                <td>{{ show[0].name }}</td>
                <td>{{ show.avgNote|number_format(1) }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}