{% extends "WCSTvShowManagerBundle:Episode:add.html.twig" %}

{% block title %}{{ parent() }} - Modification épisode{% endblock %}

{% block body %}
    <h1>Modification de l'épisode {{ episode.name }}</h1>
    {% block form_add_episode %}
        {{ parent() }}
    {% endblock %}
{% endblock %}