{% extends '@TvShowManager/layout.html.twig' %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h1>TV Show Manager</h1>
            <p>Application de gestion de séries tv et de leurs épisodes</p>
        </div>
    </div>

{% endblock %}