<!DOCTYPE html>
<html>
<head>
    <title>TvShow Manager</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ asset('css/mystyle.css') }}">
    <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
</head>

<body>

    {% block content %}
    {% endblock %}

</body>
</html>