{% extends "WCSTvShowManagerBundle:TvShow:add.html.twig" %}

{% block title %}{{ parent() }} - Modification série{% endblock %}

{% block body %}
    <h1>Modification de la série {{ tvshow.name }}</h1>
    {% block form_add_TvShow %}
        {{ parent() }}
    {% endblock %}
{% endblock %}
