{% extends '@TvShowManager/layout.html.twig' %}

{% block content %}

    <div class="row">
        <div class="col-xs-6 col-xs-offset-3">
            <h2>Ajouter un épisode :</h2>
            {{ form(addForm) }}
        </div>
    </div>

{% endblock %}