{% extends '@TvShowManager/layout.html.twig' %}

{% block content %}

    <h1>Supprimer un épisode :</h1>

    <p>L'épisode {{ episode.name }} a bien été supprimé.</p>

    <p><a href="{{ path('episodes_list') }}">Retour à la liste</a></p>
{% endblock %}